* {
    --font-primary: Syne;
    --font-secondary: "B612 Mono", monospace;
    --color-green: #d8fd38;
}

html,
body,
#root {
    scrollbar-width: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.text-container {
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
}

.link-item {
    opacity: 0.8;
    filter: drop-shadow(0px 0px 10px #000000);
    transition: all 0.4s cubic-bezier(0.54, 1.73, 0.85, 0.81);
}

.link-item:hover,
.link-item:focus {
    opacity: 1;
}

.container {
    pointer-events: none;
    min-height: 100svh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    scroll-behavior: smooth;
}

.main-title {
    background-image: url("/fonts/moonFont.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

span {
    color: var(--color-green);
}

.skill-card {
    scroll-margin-inline: 1rem;
    scroll-snap-align: start;
    backdrop-filter: blur(3px);
}

.card-img {
    max-width: 7rem;
    max-height: 7rem;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 10px #00000090);
}
