:root {
    color-scheme: dark light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

div::-webkit-scrollbar {
    display: none;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

body {
    min-height: 100svh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #00010a;
}

html:focus-within {
    scroll-behavior: smooth;
}
